<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body class=" bg-light">
    <div class="container">
        <br><br><br><br><br>
        <div class="row d-flex justify-content-center ">
            <div class="col-md-6 card ">
                <h3 class="d-flex justify-content-center"> customer registration</h3>
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div><br>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div><br>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div><br>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                    <br>
                </form>
                <a href="/">back to home</a>
                <br>
            </div>

        </div>
    </div>
</body>

</html>